{% extends "base.html" %}

{% block title %}Sign Up | U-Share Notes{% endblock %}

{% block description %}
    <meta name="description" content="Sign up for a U-Share Notes account.">
{% endblock %}

<!-- don't show navbar -->
{% block navbar %}{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn" type="submit">Sign Up</button>
    </form>
    <p>If you already have an account made, log into it <a href="{% url 'login' %}">here</a>.
    <br>
        (Or <a href="{% url 'home' %}">browse notes as Guest</a>)
    </p>
{% endblock %}