{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}U-Share Notes{% endblock %}</title>
    {% block description %}
        <meta name="description" content="A notes-sharing platform for university students.">
    {% endblock %}
    <!-- <link rel="icon" type="image/x-icon" href="./images/favicon.ico"> -->
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>
    <body>
        <header class="header-container">
            <h1 class="site-name site-name-large">U-Share Notes</h1>
        </header>
        <nav class="nav-container">
            {% block navbar %}
                <!-- <input type="checkbox" id="toggle">
                <label for="toggle" class="menu-hamburger"><img src="./images/menu_icon.svg" class="hamburger"></label> -->
                <div class="menu-container">
                    <ul class="menu">
                        <li>test 1</li>
                        <li>test 2</li>
                        <!-- <li><a href="#about-section">About</a></li>
                        <li><a href="#packages-section">Travel Packages</a></li>
                        <li><a href="#contact-section">Contact</a></li> -->
                    </ul>
                </div>
            {% endblock %}
        </nav>
        <main class="content-container">
            {% block content %}{% endblock %}
        </main>
        <footer class="footer-container">
            <h3 class="site-name">U-Share Notes</h3>
        </footer>
    </body>
</html>