{% extends "base.html" %}

{% block title %}Home | U-Share Notes{% endblock %}

{% block description %}
    <meta name="description" content="Search for notes posted by university students.">
{% endblock %}

{% block content %}
    <h1 class="content-header">Shared Notes</h1>
    <div class="post-list">
    {% for post in posts %}
        <div>
            <h2>{{ post.title }}</h2>
            <p>{{ post.course_name }} ({{ post.course_number }}) — {{ post.instructor_name }}</p>
            <p>{{ post.description }}</p>
            <small>Posted on {{ post.created_at }}</small>
            <a class="btn-link" href="{% url 'post-details' post_id=post.id %}"><button class="btn">View Post</button></a>
        </div>
        <hr>
    {% empty %}
        <p>No notes have been shared yet.</p>
    {% endfor %}
    </div>
{% endblock %}